﻿@model IEnumerable<Something.Web.Models.Exercise>
@{
    ViewBag.Title = "CaloriesInput";
}

<h2>Számold ki, mennyi kalóriát égetsz el</h2>

@if (TempData.ContainsKey("myWarning"))
{
    <p style="font-weight:bold;color:red">@TempData["myWarning"]</p>
}

<form method="post" action="/CalorieCounter/Calories">
    <label for="Name">Sportoló neve</label>
    <input type="text" name="Name" />
    <br />

    <label for="Weight">Sportoló tömege</label>
    <input type="text" name="Weight" />
    <br />

    <label for="Exercise">Gyakorlat</label>
    <select name="Exercise">
        @foreach (var item in Model)
        {
            <option value="@item.ExerciseName">@item.ExerciseName</option>
        }
    </select>
    <br />

    <label for="Lenght">Gyakorlat hossza (perc)</label>
    <input type="text" name="Lenght" />
    <br />

    <input type="submit" value="Kiszámol" />
</form>