﻿@model GalacticFactories.Web.Models.Factory
@{
    ViewBag.Title = "FactoryEdit";
}

<h2>FactoryEdit</h2>

@using (Html.BeginForm("Edit", "Factory"))
{
    @Html.ValidationSummary();
    @Html.AntiForgeryToken();

    @Html.HiddenFor(m => m.Id)
    @Html.Hidden("editAction", ViewData["editAction"].ToString());

    <div class="editor-label">@Html.LabelFor(m => m.FactoryName)</div>
    <div class="editor-field">@Html.EditorFor(m => m.FactoryName)</div>

    <div class="editor-label">@Html.LabelFor(m => m.Planet)</div>
    <div class="editor-field">@Html.EditorFor(m => m.Planet)</div>

    <div class="editor-label">@Html.LabelFor(m => m.Leader)</div>
    <div class="editor-field">@Html.EditorFor(m => m.Leader)</div>

    <div class="editor-label">@Html.LabelFor(m => m.Side)</div>
    <div class="editor-field">@Html.EditorFor(m => m.Side)</div>

    <div class="editor-label">@Html.LabelFor(m => m.StrategicValue)</div>
    <div class="editor-field">@Html.EditorFor(m => m.StrategicValue)</div>

    <input type="submit" value="SEND" />
}
