﻿@model IEnumerable<GalacticFactories.Web.Models.Factory>
@{
    ViewBag.Title = "FactoryList";
}

<h2>FactoryList</h2>

@if (Model.Count() == 0)
{
    <p>No data in the database!</p>
}
else
{
    <table border="1">
        <tr>
            <th>@Html.DisplayNameFor(m => m.First().FactoryName)</th>
            <th>@Html.DisplayNameFor(m => m.First().Planet)</th>
            <th>DataSheet</th>
            <th>Delete</th>
            <th>Edit</th>>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(m => item.FactoryName)</td>
                <td>@Html.DisplayFor(m => item.Planet)</td>
                <td>@Html.ActionLink("[SHOW]", "Details", new { id = item.Id })</td>
                <td>@Html.ActionLink("[DEL]", "Remove", new { id = item.Id })</td>
                <td>@Html.ActionLink("[EDIT]", "Edit", new { id = item.Id })</td>
            </tr>
        }
    </table>
}