﻿@model GalacticFactories.Web.Models.Factory

@{
    ViewBag.Title = "FactoryDetails";
}

<h2>Datasheet if one factory</h2>

@Html.ActionLink("Back to the list", "Index");

<table border="1">
    <tr>
        <td>@Html.DisplayNameFor(m => m.Id)</td>
        <td>@Html.DisplayFor(m => m.Id)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.FactoryName)</td>
        <td>@Html.DisplayFor(m => m.FactoryName)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.Planet)</td>
        <td>@Html.DisplayFor(m => m.Planet)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.Leader)</td>
        <td>@Html.DisplayFor(m => m.Leader)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.Side)</td>
        <td>@Html.DisplayFor(m => m.Side)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.StrategicValue)</td>
        <td>@Html.DisplayFor(m => m.StrategicValue)</td>
    </tr>
</table>