﻿@model GalacticFactories.Web.Models.FactoryViewModel

@{ 
    ViewBag.Title = "Crud Index";
}

<h2>Factory Index</h2>

<p style="color:red">
    @TempData["editResult"]
</p>

@Html.Partial("FactoryEdit", Model.EditFactory)

@Html.Partial("FactoryList", Model.ListOfFactories)
