﻿@model GalacticFactories.Web.Models.CaloriesResult
@{
    ViewBag.Title = "CaloriesResult";
}

<h2>Az eredmény</h2>

<p>Sportoló neve @Model.Name</p>
<p>Sportoló tömege @Model.Weight</p>
<p>Gyakorlat hossza (perc) @Model.Length</p>
<p>Elégetett kalória @Model.BurnedCalories</p>
